@import "tailwindcss";

.selector-caption {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-clamp: 2;
}

/* Sticky column shadow effect */
.sticky-shadow-visible::before {
  box-shadow: inset 10px 0 8px -8px #00000026;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 10px;
  position: absolute;
  transform: translate(100%);
  transition: box-shadow .3s;
  content: "";
  pointer-events: none;
}


@theme {
  --color-primary: #ffcb37;
  --color-primary-light: #ffedd5;
  --color-primary-soft: #fdba74;
  --color-secondary: #2563eb;
  --color-secondary-light: #dbeafe;
  --color-highlight: #fde047;
  --color-error: #ef4444;
  --color-error-light: #fca5a5;
  --color-success: #4ade80;
  --color-text-main: #e5e7eb;
  --color-text-muted: #6b7280;
  --color-background: #181b20;
  --color-surface: #1f2937;
  --color-border: #374151;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-offwhite: #e9e9e9;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;

  --breakpoint-xs: 25rem;
  --animate-fade-in: fade-in 1s ease-out;
  --animate-fade-out: fade-out 1s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      z-index: 10;
      display: none;
    }
    99% {
      opacity: 1;
    }
    100% {
      display: block;
    }
  }

  @keyframes fade-out {
    0% {
      z-index: 1;
      opacity: 1;
      display: block;
    }
    99% {
      opacity: 0;
    }
    100% {
      display: none;
    }
  }
}

/* --------------------- Analysis section styles */

.analysis-article {
  padding: 1rem 0;
}
.analysis-article h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
.analysis-article h1 {
  font-size: 1.875rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
.analysis-article img {
  padding: 1rem;
}
.analysis-article p {
  background-color: transparent;
  padding: 0.4rem 0;
}

.analysis-article a {
  text-decoration: underline;
}

.analysis-article a:hover {
  color: var(--color-primary);
  text-decoration: none;
}

.analysis-article hr {
  margin-top: 2rem;
}
.analysis-article li {
  list-style-type: "- ";
  margin-left: 2rem;
}
.analysis-article ul,
ol {
  padding: 0.5rem 1rem;
}

/* --------------------- Blog section styles */

.blog-article {
  padding: 1rem 0;
}
.blog-article h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.5rem 0;
}
.blog-article h1 {
  font-size: 1.875rem;
  font-weight: 700;
  padding: 0.5rem 0;
}
.blog-article img {
  padding: 1rem;
  width: 100%;
}
.blog-article p {
  background-color: transparent;
}
.article a:hover {
  color: var(--color-primary);
  text-decoration: none;
}
.blog-article hr {
  margin-top: 2rem;
}
.blog-article li {
  list-style-type: "- ";
  margin-left: 2rem;
}
.blog-article ul,
ol {
  padding: 0.5rem 1rem;
}

/* --------------------- High Potential section styles */
.high-potential-article h3 {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.5rem 0;
}
.high-potential-article h2 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 0.8rem 0;
}
.high-potential-article h1 {
  font-size: 1.875rem;
  font-weight: 700;
  padding: 1rem 0;
}
.high-potential-article img {
  padding: 1rem;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.high-potential-article p {
  background-color: transparent;
}
.high-potential-article a:hover {
  color: var(--color-primary);
  text-decoration: none;
}
.high-potential-article hr {
  margin-top: 2rem;
}
.high-potential-article li {
  list-style-type: "- ";
  margin-left: 2rem;
}
.high-potential-article ul,
ol {
  padding: 0.5rem 1rem;
}

/* --------------------- Results section styles */

.results-page {
  padding: 32px 16px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 16px;
  overflow: hidden;
}
.masonry-item img {
  display: block;
  width: 100%;
  height: auto;
}

.results-table-container {
  overflow-x: auto;
  margin: 2rem 0;
}

.results-table {
  width: 100%;
  border-collapse: collapse;
  min-width: 1200px; 
  background-color: #2a2a2a; /* Dark background for the table */
  color: #ffffff; /* White text */
}

.results-table th, .results-table td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #444; /* Darker border for rows */
}

.results-table thead th {
  background-color: #1a1a1a; /* Even darker background for header */
  font-weight: bold;
  color: #fafafa;
}

.results-table tbody tr.targets-achieved {
  background-color: rgba(0, 128, 0, 0.3); /* Green with transparency */
}

.results-table tbody tr.stopped-out {
  background-color: rgba(255, 0, 0, 0.3); /* Red with transparency */
}

.results-table tbody tr:hover {
  background-color: #3a3a3a; /* Hover effect for rows */
}

.show-more-container {
  text-align: center;
  margin-top: 20px;
}

.show-more-button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.show-more-button:hover {
  background-color: var(--primary-hover-color);
}

.MuiChartsAxis-root * {
  stroke-width: 0;
  fill: var(--color-text-main) !important;
  stroke: var(--color-text-main) !important;
}
.MuiAreaElement-root {
  opacity: 0.2;
}
.MuiChartsGrid-root * {
  stroke: var(--color-text-main) !important;
  opacity: 0.2;
}

@keyframes banner-logo-animation {
  0% {
    transform: translateY(0) rotateY(20deg) rotateX(20deg);
  }
  50% {
    transform: translateY(-15px) rotateY(20deg) rotateX(20deg);
  }
  100% {
    transform: translateY(0) rotateY(20deg) rotateX(20deg);
  }
}