@import "tailwindcss";

main {
  background-color: var(--color-background);
  padding-top: 70px;
}

.max-w-custom {
  @apply 2xl:max-w-[100rem] xl:max-w-7xl max-w-6xl;
}

.selector-caption {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  line-clamp: 2;
}

/* Sticky column shadow effect */
.sticky-shadow-visible::before {
  box-shadow: inset 10px 0 8px -8px #00000026;
  top: 0;
  right: 0;
  bottom: -1px;
  width: 10px;
  position: absolute;
  transform: translate(100%);
  transition: box-shadow .3s;
  content: "";
  pointer-events: none;
}


@theme {
  --color-primary: #ffcb37;
  --color-primary-dark: #f7840f;
  --color-primary-light: #ffedd5;
  --color-primary-soft: #fdba74;
  --color-secondary: #2563eb;
  --color-secondary-light: #dbeafe;
  --color-highlight: #fde047;
  --color-error: #ef4444;
  --color-error-light: #fca5a5;
  --color-success: #4ade80;
  --color-text-main: #e5e7eb;
  --color-text-muted: #6b7280;
  --color-background: #181b20;
  --color-surface: #1f2937;
  --color-border: #374151;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-offwhite: #e9e9e9;
  --color-gold: #ffd700;
  --color-silver: #c0c0c0;
  --color-bronze: #cd7f32;
  --color-text-secondary: #cccccc;

  --breakpoint-xs: 25rem;
  --animate-fade-in: fade-in 1s ease-out;
  --animate-fade-out: fade-out 1s ease-out;

  @keyframes fade-in {
    0% {
      opacity: 0;
      z-index: 10;
      display: none;
    }
    99% {
      opacity: 1;
    }
    100% {
      display: block;
    }
  }

  @keyframes fade-out {
    0% {
      z-index: 1;
      opacity: 1;
      display: block;
    }
    99% {
      opacity: 0;
    }
    100% {
      display: none;
    }
  }
}

.card-hover {
  @apply hover:shadow-md hover:scale-102 hover:bg-surface/60 transition-all duration-200;
}

.title-hover {
  @apply hover:shadow-md hover:text-primary transition-all duration-200;
}

.MuiChartsAxis-root * {
  stroke-width: 0;
  fill: var(--color-text-main) !important;
  stroke: var(--color-text-main) !important;
}
.MuiAreaElement-root {
  opacity: 0.2;
}
.MuiChartsGrid-root * {
  stroke: var(--color-text-main) !important;
  opacity: 0.2;
}

/* Hide the first "Base" series in the waterfall chart */
#waterfall-chart * .MuiChartsLegend-item:first-of-type {
  display: none;
}

@keyframes banner-logo-animation {
  0% {
    transform: translateY(0) rotateY(20deg) rotateX(20deg);
  }
  50% {
    transform: translateY(-15px) rotateY(20deg) rotateX(20deg);
  }
  100% {
    transform: translateY(0) rotateY(20deg) rotateX(20deg);
  }
}