@import "tailwindcss";

@theme {
  --color-primary: #ffcb37;
  --color-primary-light: #ffedd5;
  --color-primary-soft: #fdba74;
  --color-secondary: #2563eb;
  --color-secondary-light: #dbeafe;
  --color-highlight: #fde047;
  --color-error: #ef4444;
  --color-error-light: #fca5a5;
  --color-success: #4ade80;
  --color-text-main: #e5e7eb;
  --color-text-muted: #6b7280;
  --color-background: #181b20;
  --color-surface: #1f2937;
  --color-border: #374151;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-offwhite: #e9e9e9;
}

.results-page {
  padding: 32px 16px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.masonry-item {
  margin-bottom: 16px;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0,0,0,0.08);
  background: #fff;
}
.masonry-item img {
  display: block;
  width: 100%;
  height: auto;
}
